<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Web Scrapper</title>
</head>

<body>

  <div class="jumbotron" style="background-color: rgb(31,111,193); color: white; text-align: center">
    <h1 style="font-size: 300%">The Star Scrapper</h1>
    <button class="btn btn-primary btn-lg" id="scrape">Scrape new articles!</button>
  </div>

  {{{body}}}

  <div class="modal commentsModal" tabindex="-1" role="dialog" data-toggle="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><strong>Leave a comment below!</strong></h2>
        </div>
        <div class="modal-body">
          <textarea id="comment" rows="4" cols="50"></textarea>
          <button class="btn btn-primary modal-close" id="submit">Submit</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><a href="/" class="modal-close" id="close">Return
              Home</a></button>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  $(function () {
    var articleID;

    $(document).on("click", "#scrape", function (event) {
      $.get("/scrape", function (data) {

      });
    });

    $(document).on("click", "#submit", function (event) {
      let comment = $("#comment").val().trim();
      $.post("/comment", {
        article: articleID,
        content: comment,
        date: new Date
      }, function (data) {
        $(".commentsModal").modal({"show": false});
      });
    });

    $(document).on("click", ".commentButton", function (event) {
      articleID = $(this).parent().attr("data-id");
      $(".commentsModal").modal();
    });
  });
</script>

</html>