<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Tyson's Portfolio">
  <meta name="keywords" content="Handlebars, MongoDB, Mongoose, University, Toronto, coding, bootcamp">
  <meta name="author" content="Tyson">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Web Scrapper</title>
</head>

<body>

  <div class="jumbotron" style="background-color: rgb(31,111,193); color: white; text-align: center">
    <a href="/"><h1 style="font-size: 300%; color: white">The Star Scrapper</h1></a>
    <a class="btn btn-warning btn-lg" id="scrape" href="/scrape">Scrape new articles!</a>
    <a class="btn btn-danger btn-lg" id="saved" href="/saved">View saved articles!</a>
  </div>

  {{{body}}}

  <div class="modal commentsModal" tabindex="-1" role="dialog" data-toggle="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><strong>Leave a comment below!</strong></h2>
        </div>
        <div class="modal-body">
          <textarea id="comment" rows="4" cols="50"></textarea>
          <button class="btn btn-primary modal-close" id="submit">Save</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><a href="/" class="modal-close" id="close">Close</a></button>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  $(function () {
    let articleID;

    const getSaved = function () {

    };

    $(document).on("click", "#scrape", function (event) {
      $.get("/scrape", function (data) {
        console.log(data);
      }).then(() => location.reload(true));
    });

    $(document).on("click", "#submit", function (event) {
      let comment = $("#comment").val().trim();
      $.post("/comment/" + articleID, {
        article: articleID,
        content: comment,
        date: Date.now()
      }, function (data) {
        $(".commentsModal").modal({"show": false});
      });
    });

    $(document).on("click", ".commentButton", function (event) {
      articleID = $(this).parent().attr("data-id");
      $(".commentsModal").modal();
    });

    $(document).on("click", ".saveButton", function (event) {
      articleID = $(this).parent().attr("data-id");
      $.ajax({
        url: "/save/" + articleID,
        method: "PUT"
      }).then(function (response) {
        console.log(response);
      });
    });

    $(document).on("click", ".unsaveButton", function (event) {
      articleID = $(this).parent().attr("data-id");
      $.ajax({
        url: "/unsave/" + articleID,
        method: "PUT"
      }).then(function (response) {
        console.log(response);
      });
    });

    $(document).on("click", "#saved", function (event) {
      $.get("/saved", function (data) {
        
      });
    });
  });
</script>

</html>