<div class="container">
    {{#each articles}}
    {{#if this.saved}}
        <div data-id="{{this._id}}" style="margin: 10px; background-color:lightblue">
            <h3>{{this.title}}</h3>
            <a href="{{this.link}}" target="_blank" class="btn btn-primary btn-sm">Read the full article here!</a>
            <button class="btn btn-primary btn-sm commentButton">Leave a comment</button>
            <button class="btn btn-primary btn-sm unsaveButton">Unsave article</button>
        </div>
    {{/if}}
    {{/each}}
</div>